.body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
 }
 
 .navbar{
    display: flex;
    width: auto;
    background-color: rgb(131, 65, 26);
    height: 70px;
    padding: 0px 0px 0px 0px;
    align-items: center;
 
 }
 
 .logo{
    float: left;
    width: 5%;
 }
 
 .teks{
    width: 10%;
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: antiquewhite(207, 29, 29);
    
 }
 .menu-navbar a{
   text-decoration: none;
   color: white;
 }
 .menu-navbar{
    display: flex;
    align-items: left;
    width: 45%;
    justify-content: space-between;
    padding: 0px 0px 0px 500px;
    font-family: 'Kanit', sans-serif;
    color: white
    
 }
 
 .facebook{
   background-color: blue;
   color: white;
 }

 .signup{
   color: white;
   background-color: red;
 }
 
 .twitter{
   color: white;
   background-color: #09f;
 }
 
 .top-wrapper{
 background-image: url(pandawa\ 2.jpg);
 padding: 180px 0 200px 0 ;
 background-size: cover;
 text-align: center;
 color: rgb(0, 0, 0);
 }
 
 